NODE_ENV=production
PORT=3000
PUBLIC_BASE_URL=https://bumpyv2.pages.dev
BUMP_API_KEY=zmien_to_na_silny_klucz
SESSION_COOKIE_SECRET=zmien_to_na_dlugi_losowy_sekret
BOT_CLIENT_ID=application_id_bota_discord
DB_PATH=./data.sqlite

# Cloudflare Pages secrets:
# - BUMP_API_KEY
# - PUBLIC_BASE_URL=https://bumpyv2.pages.dev
# - BOT_CLIENT_ID=application_id_bota_discord

# BOT (/bot/.env)
# BOT_TOKEN=...
# CLIENT_ID=...
# API_BASE_URL=https://bumpyv2.pages.dev
# BUMP_API_KEY=ten_sam_klucz_co_w_aplikacji
